@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: url("./img/background.png"); 
  background-size: cover;
  margin: 0; 
}

noscript {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

#pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 3.125%;
}

.text {
  color: #FFFFFF;
  width: 36.458333333%;
  min-width: 26.875rem;
  max-width: 42.125rem;
  
}

.title {
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 3.4375rem;
}

.subtitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
}

.headingInfo {
  color: #FFFFFF;
  background-color: #5E54A4;
  font-size: 0.9375rem;
  line-height: 1.625rem;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  margin-bottom: 25px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 1.0625rem 0;
}

.form {
  background-color: #FFFFFF;
  width: 33.75rem;
  padding: 40px 0;
  border-radius: 6px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  text-align: center;

}

.noMargin {
  margin: 0;
}

.inputWrapper {
  position: relative;
  width: 85.185185185%;
  margin: 0 auto 20px auto;
}

.input {
  width: 100%;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.625rem;
  padding: 0.875rem 2rem;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  border-style: solid;
  color: #3d3b48;
  caret-color: #5E54A4;
}

.input:focus {
  color: #3D3B48;
  border: 1px solid #5E54A4;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
}

.input[aria-invalid="true"] {
  color: #FF7979;
  border: 2px solid #FF7979;
  box-sizing: border-box;
}

.input[aria-invalid="true"]::placeholder {
  color: transparent;
}

.warningMessage {
  font-style: italic;
  color: #FF7979;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 6px 0 20px 0;
  float: right;
  font-weight: 500;
}

.warningSign {
  position: absolute;
  bottom: 0.3125rem;
  transform: translateY(-50%);
  right: 5.782608696%;
}

.confirm {
  font-family: Poppins, sans-serif; /* Explicitely declaring font-family 
  to prevent it not being inherited in Chromium-based browsers. */ 
  width: 85.185185185%;
  background-color: #38CC8B;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  font-weight: 600;
  font-size: 0.9375rem;
  text-transform: uppercase;
  border: solid;
  cursor: pointer;
  color: #FFFFFF;
  padding: 1rem 1.37rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.confirm:hover {
  background-color: #77E2B3;
  transition: background-color 0.6s ease, box-shadow 0.12s ease-out, transform 0.12s ease-out;
}

.confirm:active {
  background-color: #77E2B3;
  transition: background-color 0.12s ease-out, box-shadow 0.06s ease-out, transform 0.06s ease-out;
  transform: translateY(1px);
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.0908818);
}

.disclaimer {
  color: #BAB7D4;
  font-size: 0.6875rem;
  font-weight: medium;
  line-height: 1.625rem;
  margin: 8px auto 0 auto;
}

.attention {
  color: #FF7979;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  #pageContainer {
    margin: 88px 0 58px 0;
    flex-direction: column;
    height: auto;
    gap: 64px;
  }

  .text {
    text-align: center;
    margin: auto;
    min-width: 30rem;
  }

}

@media screen and (max-width: 768px) {

  .text {
    min-width: auto;
    max-width: 25rem;
    width: 87.2%;
  }

  .title {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

}

@media screen and (max-width: 576px) {
  .contentWrapper {
    width: 87.2%;
    text-align: center;
    margin: auto 0;
  }

  .form {
    width: 100%;
    padding: 24px 0;
  }

  .inputWrapper {
    margin-bottom: 16px;
  }

  .disclaimer {
    line-height: 1.625rem;
  }

  .headingInfo {
    box-sizing: border-box;
    padding: 1.5625rem 20.336391437%;
  }

  .disclaimer {
    line-height: 1.3125rem;
    margin: 8px 11.926605504% 0 11.926605504%;
  }

}

@media screen and (max-width: 480px) {
  .text {
    max-width: 376px;
  }

  .title {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

}